extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  h2= 'Поделись файлом'
  form(id= 'sendFile')
    input(type= 'file', id= 'foo', name= 'file')
    textarea(name= 'note')
    button(type= 'submit', id= 'link_gen')= 'получить ссылку'

  div(id= 'trunk')