body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ff5454;
  position: relative;
}
a {
  color: #00b7ff;
}
#drop_zone {
  text-align: center;
  position: fixed;
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #fff;
}
